/* Web Components */
@import url(components/card.css);
@import url(components/navbar.css);
@import url(components/footer.css);
@import url(components/button.css);

/* Overall CSS settings */
body {
  background-color: #417D7A;
  color: #EDE6DB;
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.img-banner {
  display: none;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  left: 0;
  top: 65vh;
  height: 29vh;
  
}

.img-banner img {
  border-radius: 15px;
}

header {
  margin-top: 12vh;
  width: 100%;
  background-color: #EDE6DB;
  color: #1A3C40;
}

h1 {
  font-family: 'Concert One', cursive;
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 2px 3px 5px #d6c6ad;
}

.tagline {
  font-size: 28px;
  margin-bottom: 0.2em;
}

main {
  margin-bottom: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}

/* Media queries */

@media (max-width: 767px) {
  .tagline {
    font-size: 28px;
    margin: 0.2em;
  }

}

@media (min-width: 1023px) {
.img-banner {
    display: flex;
    flex: row wrap;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    height: 72vh;
  }
}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
  }
}