/* Web Components */
@import url(components/card.css);
@import url(components/navbar.css);
@import url(components/footer.css);
@import url(components/button.css);

/* Overall CSS settings */
body {
  background-color: #417D7A;
  color: #EDE6DB;
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  margin-top: 14vh;
  width: 100%;
  background-color: #EDE6DB;
  color: #1A3C40;
}

h1 {
  font-family: 'Concert One', cursive;
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 2px 3px 5px #d6c6ad;
}

.tagline {
  font-size: 36px;
  margin-bottom: 0.2em;
}

main {
  margin-bottom: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Media queries */

@media (max-width: 767px) {
  .tagline {
    font-size: 28px;
    margin: 0.2em;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  main {
    height: 72vh;
  }
}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;  
    height: 80vh;
  }
  

}