/* Web Components */
@import url(components/card.css);
@import url(components/navbar.css);
@import url(components/footer.css);

/* Overall CSS settings */
body {
  background-color: #417D7A;
  color: #EDE6DB;
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  margin-top: 15vh;
  width: 100%;
  background-color: #EDE6DB;
  color: #1A3C40;
}


h1 {
  font-family: 'Concert One', cursive;
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 2px 3px 5px #d6c6ad;
}



.tagline {
  font-size: 42px;
  margin-bottom: 0.2em;
}

main {
  margin-bottom: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}



.card button {
  border: solid transparent;
  border-radius: 25px;
  font-family: inherit;
  font-weight: bold;
  margin: 1em;
  width: 80%;
}

.card button:hover {
  background-color: transparent;
  border: solid;
  color: #EDE6DB;
}


/* Media queries */

@media (max-width: 767px) {
  .tagline {
    font-size: 28px;
    margin: 0.2em;
  }

}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    
  }
  

}