.footer {
    background-color: #EDE6DB;
    bottom: 0;
    height: 5vh;
    position: fixed;
    width: 100%;
  }
  
  .footer ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0.1em;
    justify-content: space-between;
    padding: 0 1em;
  }
  
  .footer ul li {
    color: #1A3C40;
    font-size: 13px;
    list-style: none;
    margin: 0.4em
  }

  .footer ul li a {
    border: solid transparent;
    border-radius: 5px;
    color: inherit;
    padding: 0.1em;
    text-decoration: none;
}

.footer a:hover {
  border: solid;
}