.footer {
    background-color: #EDE6DB;
    bottom: 0;
    height: 5vh;
    position: fixed;
    width: 100%;
  }
  
  .footer ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0.1em;
    justify-content: space-evenly;
    padding: 0 1em;
  }
  
  .footer li {
    color: #1A3C40;
    font-size: 13px;
    list-style: none;
    margin: 0.4em
  }

  .footer a {
    padding: 0.2em;

}

.footer a:hover {
  background-color: #d6c6ad;
  padding: 0.5em 0.2em;
  border-radius: 5px 5px 0 0;

}

/* Media Queries */

/* Tablet */
@media (min-width: 768px) {
   .footer a {
    font-size: 18px;
  }
}