.navbar {
  background-color: #EDE6DB;
  color:#1A3C40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}

h1 {
  font-family: 'Concert One', cursive;
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 2px 3px 5px #d6c6ad;
}

.navbar-item {
  margin: 0 0.1em;
}

 #nav-options {
  width: 100%;
  display: none;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 0.5em;
}

.navbar li {
    margin: 0.2em;
    padding: 0.2em;
    color: #1A3C40;
    list-style: none;
}

.navbar ul li {
    border: solid transparent;
    border-radius: 5px;
    color: inherit;
    padding:  0.1em;
    text-decoration: none;
}

.navbar li:hover {
    border: solid;
}

.navbar ul {
    margin-top: 0;
    padding-left: 0;
}

  @media (max-width: 767px) {
   .navbar-item {
      font-size: 36px;
      padding: 0.2em;
      margin: 0.1em;
    }
  }

  @media (min-width: 768px) {

    .navbar-item {
      font-size: 42px;
      padding: 0.2em;
      margin: 0.4em;
    }

    #nav-options {
      display: flex;
      font-size: 20px;
    }

    #nav-menu-button {
      display: none;
    }

  }

  @media (min-width: 1024px) {
    .navbar {
      height: 12vh;
    }
    
    .navbar-item {
      font-size: 64px;
    } 
    
    #navbar-header {
      font-size: -_px;
    }
    #nav-options {
      font-size: 24px;
    }
  }